[data-theme='yellowTheme'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-400);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.25rem;
	--radius-container: 0.25rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(97.07% 0.04 90.63deg);
	--color-primary-100: oklch(93.8% 0.08 89.98deg);
	--color-primary-200: oklch(90.91% 0.12 90.24deg);
	--color-primary-300: oklch(88.08% 0.15 88.72deg);
	--color-primary-400: oklch(85.66% 0.17 86.6deg);
	--color-primary-500: oklch(83.28% 0.17 82.05deg);
	--color-primary-600: oklch(76.86% 0.16 82.29deg);
	--color-primary-700: oklch(70.3% 0.14 82.59deg);
	--color-primary-800: oklch(63.58% 0.13 82.97deg);
	--color-primary-900: oklch(56.68% 0.12 83.46deg);
	--color-primary-950: oklch(49.57% 0.1 84.14deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(90.37% 0 none);
	--color-secondary-100: oklch(79.21% 0 none);
	--color-secondary-200: oklch(67.31% 0 none);
	--color-secondary-300: oklch(55.21% 0 none);
	--color-secondary-400: oklch(42.02% 0 none);
	--color-secondary-500: oklch(28.09% 0 none);
	--color-secondary-600: oklch(26.45% 0 none);
	--color-secondary-700: oklch(24.78% 0 none);
	--color-secondary-800: oklch(22.65% 0 none);
	--color-secondary-900: oklch(20.9% 0 none);
	--color-secondary-950: oklch(19.13% 0 none);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-light);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(90.67% 0 none);
	--color-tertiary-100: oklch(79.52% 0 none);
	--color-tertiary-200: oklch(68.3% 0 none);
	--color-tertiary-300: oklch(56.24% 0 none);
	--color-tertiary-400: oklch(43.86% 0 none);
	--color-tertiary-500: oklch(30.12% 0 none);
	--color-tertiary-600: oklch(28.09% 0 none);
	--color-tertiary-700: oklch(26.45% 0 none);
	--color-tertiary-800: oklch(24.35% 0 none);
	--color-tertiary-900: oklch(22.65% 0 none);
	--color-tertiary-950: oklch(20.46% 0 none);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(96.15% 0.04 123.64deg);
	--color-success-100: oklch(91.85% 0.08 124.79deg);
	--color-success-200: oklch(87.93% 0.12 126.24deg);
	--color-success-300: oklch(83.94% 0.16 127.29deg);
	--color-success-400: oklch(80.39% 0.19 128.93deg);
	--color-success-500: oklch(76.81% 0.2 130.85deg);
	--color-success-600: oklch(70.9% 0.19 130.64deg);
	--color-success-700: oklch(64.8% 0.17 130.64deg);
	--color-success-800: oklch(58.88% 0.15 130.5deg);
	--color-success-900: oklch(52.47% 0.14 130.49deg);
	--color-success-950: oklch(45.93% 0.12 130.07deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(95.62% 0.03 64.15deg);
	--color-warning-100: oklch(90.68% 0.06 62.99deg);
	--color-warning-200: oklch(85.96% 0.1 61.92deg);
	--color-warning-300: oklch(81.71% 0.13 61.07deg);
	--color-warning-400: oklch(77.64% 0.16 58.22deg);
	--color-warning-500: oklch(74.01% 0.18 53.57deg);
	--color-warning-600: oklch(68.27% 0.17 53.58deg);
	--color-warning-700: oklch(62.57% 0.15 54.03deg);
	--color-warning-800: oklch(56.57% 0.13 54.1deg);
	--color-warning-900: oklch(50.58% 0.12 54.74deg);
	--color-warning-950: oklch(44.22% 0.1 54.93deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(92.22% 0.03 355.63deg);
	--color-error-100: oklch(83.44% 0.07 357.32deg);
	--color-error-200: oklch(75.12% 0.11 359.45deg);
	--color-error-300: oklch(67.24% 0.16 1.09deg);
	--color-error-400: oklch(60.8% 0.19 4.99deg);
	--color-error-500: oklch(55.96% 0.21 10.5deg);
	--color-error-600: oklch(51.76% 0.2 10.4deg);
	--color-error-700: oklch(47.34% 0.18 10.19deg);
	--color-error-800: oklch(42.98% 0.16 9.49deg);
	--color-error-900: oklch(38.34% 0.14 9.09deg);
	--color-error-950: oklch(33.72% 0.12 8.7deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-light);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(89.75% 0 none);
	--color-surface-100: oklch(77.94% 0 none);
	--color-surface-200: oklch(65.67% 0 none);
	--color-surface-300: oklch(52.78% 0 none);
	--color-surface-400: oklch(39.04% 0 none);
	--color-surface-500: oklch(23.93% 0 none);
	--color-surface-600: oklch(22.65% 0 none);
	--color-surface-700: oklch(21.34% 0 none);
	--color-surface-800: oklch(19.57% 0 none);
	--color-surface-900: oklch(18.22% 0 none);
	--color-surface-950: oklch(16.84% 0 none);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-light);
	--color-surface-contrast-400: var(--color-surface-contrast-light);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}