@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

.transition-container {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
}

hr {
	@apply !border-t-2 my-4;
}

input:focus::-webkit-search-cancel-button {
	@apply invert;
}