@import 'tailwindcss';

@import "@skeletonlabs/skeleton";

@import "@skeletonlabs/skeleton/optional/presets";

/*
  Add your theme import for your theme: "yellow-theme" here
*/

@import "../yellow-theme.css";

@source "../node_modules/@skeletonlabs/skeleton-svelte/dist";

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --background-size-0w: 0% 100%;
  --background-size-100w: 100% 100%;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer utilities {
}

/* html,
body {
	@apply h-full overflow-hidden;
} */

.transition-container {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
}

/* hr {
	@apply !border-t-2 my-4;
}

input:focus::-webkit-search-cancel-button {
	@apply invert;
}

.fancy-link {
	@apply bg-0w hover:bg-100w transition-all duration-200 bg-gradient-to-r bg-no-repeat bg-left-bottom from-primary-500 rounded-sm to-primary-500 px-1 hover:text-black;
} */

.fancy-link {
	background-size: 0% 100%;
	background-position: bottom left;
	background-repeat: no-repeat;
	transition: background-size 0.2s ease-in-out, color 0.2s ease-in-out;
	background-image: linear-gradient(to right, var(--color-primary-500), var(--color-primary-500));
	border-radius: 0.25rem;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}

.fancy-link:hover {
	background-size: 100% 100%;
	color: var(--color-black);
}

[data-theme='yellowtheme'] .preset-tonal-primary {
	background-color: color-mix(in srgb, var(--color-primary-500) 20%, transparent);
}

[data-theme='yellowtheme'] .preset-tonal-secondary {
	background-color: color-mix(in srgb, var(--color-secondary-500) 18%, transparent);
}

[data-theme='yellowtheme'] .preset-tonal-tertiary {
	background-color: color-mix(in srgb, var(--color-tertiary-500) 30%, transparent);
}

[data-theme='yellowtheme'] .preset-tonal-neutral {
	background-color: color-mix(in srgb, var(--color-neutral-500) 30%, transparent);
}

[data-theme='yellowtheme'] .preset-tonal-success {
	background-color: color-mix(in srgb, var(--color-success-500) 20%, transparent);
}

[data-theme='yellowtheme'] .preset-tonal-warning {
	background-color: color-mix(in srgb, var(--color-warning-500) 20%, transparent);
}

[data-theme='yellowtheme'] .preset-tonal-error {
	background-color: color-mix(in srgb, var(--color-error-500) 20%, transparent);
}

[data-theme='yellowtheme'] .card.preset-tonal-secondary {
	border-color: var(--color-surface-500);
	border-width: 1px;
}

[data-theme='yellowtheme'] .card.preset-tonal-primary {
	border-color: color-mix(in srgb, var(--color-primary-500) 20%, transparent);
	border-width: 1px;
}